🔴 В эфире: {{if .Title }}{{ trimRedDot .Title}}{{else}}{{.DisplayName}}{{end}}

▶️ <a href="https://www.twitch.tv/{{.Username}}{{ if .Timestamp }}?ts={{ .Timestamp }}{{end}}">{{.DisplayName}}{{ if .Game}} | {{.Game}}{{end}}</a>