⚫ Stream ended: {{if .Title }}{{ trimRedDot .Title}}{{else}}{{.DisplayName}}{{end}}{{if .Recording.Duration}} ({{.Duration}}){{end}}

{{if .Recording.URL}}📼 <a href="{{.Recording.URL}}">Watch the recording</a>{{else}}No recording available.{{end}}