⚫ Stream ended: {{if .Title }}{{ trimRedDot .Title}}{{else}}{{.DisplayName}}{{end}}{{if .Duration}} ({{.Duration}}){{end}}

{{if .RecordingURL}}📼 <a href="{{.RecordingURL}}">Watch the recording</a>{{else}}No recording available.{{end}}