⚫ Стрим окончен: {{if .Title }}{{ trimRedDot .Title}}{{else}}{{.DisplayName}}{{end}}{{if .Duration}} ({{.Duration}}){{end}}

{{if .RecordingURL}}📼 <a href="{{.RecordingURL}}">Просмотреть запись</a>{{else}}Запись недоступна.{{end}}