⚫ Стрим окончен: {{if .Recording.Title }}{{ trimRedDot .Recording.Title}}{{else if .Title }}{{ trimRedDot .Title}}{{else}}{{.DisplayName}}{{end}}{{if .Recording.Duration}} ({{.Recording.Duration}}){{end}}

{{if .Recording.URL}}📼 <a href="{{.Recording.URL}}">Просмотреть запись</a>{{else}}Запись недоступна.{{end}}